.container{
padding: 0 10px;
display: flex;
flex-wrap: wrap ;
}

.col{
 	flex-grow:1;
 	min-width: 8rem;
 	margin: 0 5px;
 	text-align: center;
 	background: #E2E4E6;
 	padding: 5px;
 	border-radius: 5px;
 	flex-basis: 15rem;
 	margin-bottom: 5px;

}
 



